<h1>Create a new task!</h1>
<hr>
<br>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <br>
  <br>
  <%= f.label :completed? %>
  <%= f.check_box :completed %>
  <br>
  <br>
  <%= f.submit "Add task!" %>
<% end %>

<br>
<hr>
<br>

<%= link_to("Back to all", tasks_path) %>
